.app 
  flex-basis: 100%
  
  &__message
    display: flex
    justify-content: stretch

  &__input
    flex-grow: 1

  &__message-list
    background: #fcffdf
    border: #837d7d9c 1px solid
    height: 200px
    width: 70%
    overflow-y: auto
  
  &__chat-wrp
    display: flex
    justify-content: space-between





